<div class="ks-page-header">
  <section class="ks-title">
    <h3>Buy, Sell and Transfer History</h3>
  </section>
</div>

<div class="ks-page-content">
  <div class="ks-page-content-body ks-billing ks-body-wrap">
    <div class="ks-body-wrap-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12">
            <div class="ks-log-table">
              <!-- <h3 class="ks-header">
                <span>History</span>
                <a href="#">View All</a>
              </h3> -->

              <table class="table table-condensed table-bordered table-striped">
                <!-- <thead> -->
                <tr style="background-color: #25628f;">
                  <th style="border: 1px solid #ddd;color:#fff;">Date</th>
                  <th style="border: 1px solid #ddd;color:#fff;text-align: center;">Type</th>
                  <th style="border: 1px solid #ddd;color:#fff;">Address</th>
                  <th style="border: 1px solid #ddd;color:#fff;text-align: center;">Amount</th>
                  <th style="border: 1px solid #ddd;color:#fff;text-align: center;">Status</th>
                </tr>
                <!-- </thead> -->
                <!-- <tbody> -->
                <tr *ngFor = "let cell of data">
                  <td style="border: 1px solid #ddd;">{{ cell.createdAt | date : "dd-MM-yyyy" }}</td>
                  <td style="border: 1px solid #ddd;text-align: center;">{{ cell.t_type }}</td>
                  <td style="border: 1px solid #ddd;">{{ cell.address }}</td>
                  <td style="border: 1px solid #ddd;text-align: center;">{{ cell.amount }}</td>
                  <!-- <td>{{ cell.status }}</td> -->
                  <td style="border: 1px solid #ddd;text-align: center;" class="ks-status">
                    <span class="ks-color-danger" *ngIf="cell.status==0 || cell.status == -1">Failed<span class="la la-warning ks-icon"></span></span>
                    <span class="ks-color-success" *ngIf="cell.status==1">Passed</span></td>
                  <!-- <td class="ks-status"><span class="ks-color-danger">Failed <span class="la la-warning ks-icon"></span></span></td>
                  <td>$1,119.00</td>
                  <td class="ks-download">
                    <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                  </td> -->
                </tr>
                <!-- </tbody> -->
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
