<div class="ks-page-header">
  <section class="ks-title">
    <h3>Buy, Sell and Transfer History</h3>
  </section>
</div>

<div class="ks-page-content">
  <div class="ks-page-content-body ks-billing ks-body-wrap">
    <div class="ks-body-wrap-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12">
            <div class="ks-log-table">
              <!-- <h3 class="ks-header">
                <span>History</span>
                <a href="#">View All</a>
              </h3> -->

              <table class="table table-condensed table-bordered table-striped">
                <!-- <thead> -->
                <tr>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Address</th>
                </tr>
                <!-- </thead> -->
                <!-- <tbody> -->
                <tr *ngFor = "let cell of data">
                  <td>{{ cell.date }}</td>
                  <td>{{ cell.t_type }}</td>
                  <td>{{ cell.amount }}</td>
                  <!-- <td>{{ cell.status }}</td> -->
                  <td class="ks-status"><span class="ks-color-danger" *ngIf="cell.status==0">Failed<span class="la la-warning ks-icon"></span></span><span class="ks-color-success" *ngIf="cell.status==1">Passed<span class="la la-warning ks-icon"></span></span></td>
                  <td>{{ cell.address }}</td>
                  <!-- <td class="ks-status"><span class="ks-color-danger">Failed <span class="la la-warning ks-icon"></span></span></td>
                  <td>$1,119.00</td>
                  <td class="ks-download">
                    <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                  </td> -->
                </tr>
                <!-- </tbody> -->
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
