<nav class="navbar navbar-light" style="margin-top: -60px;align-items: flex-start;background-color: white;">
  <a class="navbar-brand" href="#">WANDX</a>
</nav>
<section style="align-items: center; background-color: #f5f6fa;height: 100%;">
  <h1 style="margin-bottom: 40px;text-align: center;padding-top: 40px;font-size: 1.8rem;">WANDX</h1>
  <div class="row" style="
      width: 100%;
    max-width: 400px;
    padding: 30px;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    border-style: solid;
    border-color: #d5d6da;
    border-width: 1px;
    margin-bottom: 60px;">
    <h3 class="form-signin-heading" style="text-align: center; font-size: 1.5rem;
    margin-bottom: 30px;">Register</h3>
    <form (submit)="register()" style="display: grid;">
      <div class="row" style="margin-bottom: 0px;">
        <div class="form-group col-md-6">
          <label for="firstname" class="sr-only">First name</label>
          <input type="text" class="form-control" name="firstname" placeholder="First Name" [(ngModel)]="credentials.firstname">
        </div>
        <div class="form-group col-md-6">
          <label for="lastname" class="sr-only">Last name</label>
          <input type="text" class="form-control" name="lastname" placeholder="Last Name" [(ngModel)]="credentials.lastname">
        </div>
      </div>
      <!-- <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
        </div> -->
        <div class="form-group">
          <label for="phonenumber" class="sr-only">Phone Number</label>
          <input type="phonenumber" class="form-control" name="phonenumber" placeholder="Phone Number" [(ngModel)]="credentials.phonenumber">
        </div>
        <div class="form-group">
          <label for="email" class="sr-only">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email" aria-describedby="emailHelp" data-validation="email">
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn" style="background-color: #25628f;">Register!</button>
    </form>
    <br>
    <p class="lead" style="text-align: center;font-size: 1rem;">Already have an account? Please <a routerLink="/login">login</a> instead.</p>
  </div>
</section>
<!-- <div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a member? Please <a routerLink="/login">log in</a> instead.</p>
      <form (submit)="register()">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-primary">Register!</button>
      </form>
    </div>
  </div>

</div>
 -->
