<nav class="navbar navbar-light" style="margin-top: -60px;align-items: flex-start;background-color: white;">
  <a class="navbar-brand" href="#">WANDX</a>
</nav>
<section style="align-items: center; background-color: #f5f6fa;height: 100%;">
  <!-- <h1 style="margin-bottom: 40px; margin-top: 40px;font-size: 1.8rem;">WANDX</h1> -->
  <h1 style="margin-bottom: 40px;text-align: center;padding-top: 40px;font-size: 1.8rem;">WANDX</h1>
  <div class="row" style="
      width: 100%;
    max-width: 380px;
    padding: 30px;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    border-style: solid;
    border-color: #d5d6da;
    border-width: 1px;
    margin-bottom: 60px;">

<!--     <div class="col-md-6"> -->

      <h3 class="form-signin-heading" style="text-align: center; font-size: 1.5rem;
    margin-bottom: 30px;">Login</h3>
      <form (submit)="login()" style="display: grid;">
        <div class="form-group">
          <label for="email" class="sr-only">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email" (click)="validateEmail()" aria-describedby="emailHelp" data-validation="email">
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn" style="background-color: #25628f;">Sign in!</button>
      </form>
      <br>
      <p class="lead" style="text-align: center;font-size: 1rem;">Not a member? Please <a routerLink="/register">register</a> instead.</p>

<!--     </div> -->
  </div>

</section>
